version: "3.8"

services:
  elena_backend:
    container_name: elena-backend
    build:
      dockerfile: Dockerfile
      context: backend
    environment:
      - GUNICORN_CMD_ARGS=--reload
      - MONGO_URI=mongodb://root:password@elena_dev_db:27017
      - AUTH_SECRET=adc247dc6240d79df1875097199a3fdb5607213179358cc5f773f9f55da92f14
      - ELEVATION_URI=http://localhost@elena_elevation_server:8080
    volumes:
      - "./backend/src:/app/src"
      - "/maps"
    ports:
      - "5001:5001"
  elena_frontend:
    container_name: elena-frontend
    build:
      dockerfile: Dockerfile
      context: frontend
    ports:
      - "3000:3000"
    stdin_open: true
    volumes:
      - ./frontend:/app
      - /app/node_modules
  elena_dev_db:
    container_name: elena-dev-db
    image: mongo:latest
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: password
    ports:
      - 27017:27017
    volumes:
      - mongo_dev_db_container:/data/db
  elena_elevation_server:
    container_name: elena_elevation_server
    build:
      context: elevation
      dockerfile: docker/Dockerfile
    volumes:
      - "./elevation/data:/code/data"
      - "./elevation/certs:/code/certs"
    environment:
      - PYTHONUNBUFFERED=1
    command: stdbuf -i0 -o0 -e0 python3 server.py
    ports:
        - 8080:8080
volumes:
  mongo_dev_db_container:
